.header{
    font-size: large;
    /* width: 90%  ; */
    margin: auto;
}

.header svg {
    margin-right: 20px;
}

#album {
    /* width: 200px; */
    height: 100px;
    margin-top: 20px;
    background-color: lightskyblue;
    cursor: pointer;
    user-select: none;
}

#album:hover {
    background-color: gold;
}

.imageHome {
    width: 60px;
    height: 60px;
}

#loginButton {
    position: relative;
    right: 50px;
}

.buttonLogin {
    width: 150px;
}

label {
    width: 100px;
}


#desc {
    /* height: 50px; */
    width: 188px;
}

.data {
    margin-bottom: 10px;
}

.card-body a {
    margin-left: 10px;
}

.col-2 button {
    width: 150px;
    margin-bottom: 10px;
}

#additem input, #addDesc, #desc, #repair input {
    width: 300px;
}

.modal-body {
    margin-left: 20px;
}

#addType, #typeR {
    width: 150px;
    height: 30px;
}

#delete div {
    width: 150px;
    display: inline-block;
    margin-bottom: 5px;
}

#delete button {
    width: 150px;
    margin-bottom: 5px;
}