.header{
    font-size: large;
    /* width: 90%  ; */
    margin: auto;
}

.header svg {
    margin-right: 20px;
}

#album {
    /* width: 200px; */
    height: 100px;
    margin-top: 20px;
    background-color: lightskyblue;
    cursor: pointer;
    user-select: none;
}

#album:hover {
    background-color: gold;
}

.imageHome {
    width: 60px;
    height: 60px;
}

#loginButton {
    position: relative;
    right: 50px;
}

.buttonLogin {
    width: 100px;
}

.footer {
    /* position: fixed;
    bottom: 0px; */
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    background-color: gold ;
}


.data {
    margin-bottom: 10px;
}

#form-search {
    position: relative;
}

#search {
    padding-left: 35px;
}

#input-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25%;
    left: 2%;
}

input::placeholder {
    color: rgb(221, 221, 221);
    opacity: 1;
    font-size: 14px;
}

.col-2 {
    min-height: 815px !important;
}

#orderData label {
    width: 150px;
}


#orderData input, #orderData textarea {
    width: 250px;
}

#orderData{
    margin-left: 20px;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}